<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-cookies.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrW9vJiZVTZ1V8P-FdnutfMIx6DWKVV7g"></script>
    <script src="/js/services/tokenServices.js" charset="utf-8"></script>
    <script src="/js/services/usersApiServices.js" charset="utf-8"></script>
    <script src="/js/services/outhousesApiServices.js" charset="utf-8"></script>
    <script src="/js/controllers/mapController.js" charset="utf-8"></script>
    <script src="/js/controllers/mainController.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <title>Outhouse</title>
  </head>
  <body ng-app="OuthouseApp">
    <section id="log-holder" ng-controller="mainController">
      <h3 class="prompt" ng-show="logged">Welcome {{currentUser}}</h3>
      <button class="starter btn-danger" type="button" ng-hide="logged" ng-click=toggleLogIn()>Log In</button>
      <button class="starter btn-danger" type="button" ng-hide="logged" ng-click=toggleSignUp()>Sign Up</button>
      <div class="join" ng-hide='logged'>
        <form ng-submit="createUser(user)" ng-show="signingUp">
          <input type="text" ng-model="user.username" placeholder=" new username">
          <input type="text" ng-model="user.password" placeholder=" new user password">
          <button type="submit" class="logger btn-danger">Submit</button>
        </form>
      </div>
      <div class="logIn" ng-hide='logged'>
        <form ng-submit="logIn(username, password)" ng-show="loggingIn">
          <input type="text" ng-model="username" placeholder="username">
          <input type="text" ng-model="password" placeholder="password">
          <button type="submit" class="logger btn-danger">Submit</button>
        </form>
      </div>
    </section>

    <section id="map-holder" ng-controller="mapController">
      <i id="three-bars" class="fa fa-bars" ng-show="logged" ng-click="toggleMenu()"></i>
        <ul id="menu" ng-show="showMenu">
          <li ng-click="logOut()">Logout</li>
          <li id="form-toggler">Add Outhouse</li>
          <li ng-click="toggleLocForm()">Change Location</li>
        </ul>
      <!-- <i id="form-toggler" ng-show="logged" class="fa fa-plus-circle"></i> -->
      <div id="outhouseFormHolder" ng-show="showForm">
        <h2>Add Another Outhouse!</h2>
        <form class="newOuthouseForm" ng-show="showForm" ng-submit="createNew(outhouse, rating)">
          <input type="text" ng-model="outhouse.address" placeholder="address">
          <input type="text" ng-model="outhouse.city" placeholder="city">
          <input type="text" ng-model="outhouse.state" placeholder="state">
          <input type="text" ng-model="outhouse.title" placeholder="name the place"><br>
          <div class="stars"><strong>Rate based on cleanliness and accessibility</strong><br>
          <input class="star star-5" id="star-5" type="radio" ng-model="rating" name="star" value="5"/>
          <label class="star star-5" for="star-5"></label>
          <input class="star star-4" id="star-4" type="radio" ng-model="rating" name="star" value="4"/>
          <label class="star star-4" for="star-4"></label>
          <input class="star star-3" id="star-3" type="radio" ng-model="rating" name="star" value="3"/>
          <label class="star star-3" for="star-3"></label>
          <input class="star star-2" id="star-2" type="radio" ng-model="rating" name="star" value="2"/>
          <label class="star star-2" for="star-2"></label>
          <input class="star star-1" id="star-1" type="radio" ng-model="rating" name="star" value="1"/>
          <label class="star star-1" for="star-1"></label>
            </div><br><textarea ng-model="outhouse.description" rows="2"></textarea><br>
            <button class="logger btn-danger" type="submit" name="name" >Submit</button>
          </form><br>
        </div>
        <div id="changeLocationForm" ng-show="adjustCenter">
          <h2>Where do you want to go?!</h2>
          <form ng-submit="findAnewCenter(location)">
            <label for="">The more info you give the more likely this is to be accurate.</label><br>
            <input id="find-loc" type="text" ng-model="location" placeholder="Address, city, state, territory, region, zip code... "><br>
            <button class="logger btn-danger" type="submit" name="name" >Submit</button>
          </form>
        </div>

        <div id='loading'>
            <i class="fa fa-spinner fa-pulse" ng-show="loading"></i>
        </div>


      <i id='compass' class="fa fa-compass" ng-click=getBackToMe()></i>
      <div id="map">

      </div>
    </section>
    <footer><img src="images/favicon.ico" alt="" />Outhouse a Stanton Coding Project</footer>
  </body>
</html>
