<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-cookies.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrW9vJiZVTZ1V8P-FdnutfMIx6DWKVV7g"></script>
    <script src="/js/services/tokenServices.js" charset="utf-8"></script>
    <script src="/js/services/usersApiServices.js" charset="utf-8"></script>
    <script src="/js/services/outhousesApiServices.js" charset="utf-8"></script>
    <script src="/js/controllers/mapController.js" charset="utf-8"></script>
    <script src="/js/controllers/mainController.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <title>Outhouse</title>
  </head>
  <body ng-app="OuthouseApp">
    <section id="log-holder" ng-controller="mainController">
      <h3 class="prompt" ng-show="logged">{{currentUser}}
      <button class="user-button"type="button" ng-show="logged" ng-click=logOut()>Log Out</button></h3>
      <button class="user-button" type="button" ng-hide="logged" ng-click=toggleLogIn()><h3 class="prompt">Log In</h3></button>
        <div class="join" ng-hide='logged'>
        <button type="button" ng-click=toggleSignUp()><h3 class="prompt">Sign Up</h3></button>
        <form ng-submit="createUser(user)" ng-show="signingUp">
          <input type="text" ng-model="user.username" placeholder=" new username">
          <input type="text" ng-model="user.password" placeholder=" new user password">
          <input class="logger" type="submit">
        </form>
      </div>
      <div class="logIn" ng-hide='logged'>
        <form ng-submit="logIn(username, password)" ng-show="loggingIn">
          <input type="text" ng-model="username" placeholder="username">
          <input type="text" ng-model="password" placeholder="password">
          <input class="logger" type="submit">
        </form>
      </div>
    </section>
    <section id="map-holder" ng-controller="mapController">
      <div id="map">

      </div>
    </section>
  </body>
</html>
